{% extends "bitbank/base.html" %}
{% block content %}
{% csrf_token %}

<div class="row">
    <div class="col-md-7 offset-md-3 col-12">
        <div class="tab btn-group">
            <button id="order_button" type="button" class="tablinks" onclick="openTab(event, 'order')">注文する</button>
            <button id="active_orders_button" type="button" class="tablinks" onclick="openTab(event, 'active_orders')">発注一覧</button>
            <button id="order_history_button" type="button" class="tablinks" onclick="openTab(event, 'order_history')">取引履歴</button>
            <button id="alerts_button" type="button" class="tablinks" onclick="openTab(event, 'alerts')">通知設定</button>
            <button id="assets_button" type="button" class="tablinks" onclick="openTab(event, 'assets')">保有資産</button>
            <button id="user_info_button" type="button" class="tablinks" onclick="openTab(event, 'user_info')">個人情報</button>
            <button id="contact_button" type="button" class="tablinks" onclick="openTab(event, 'contact')">問い合せ</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3 col-12">
        <div id="id_ajax_message" class="alert">
        </div>
    </div>
</div>      
        
<div id="order" class="tabcontent">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12">
            <div class="btn-group">
                <button id="id_bitbank" type="button" class="btn-outline-secondary" value="bitbank">bitbank</button>
                <button id="id_coincheck" type="button" class="btn-outline-secondary" value="coincheck">coincheck</button>
            </div>
        </div>
    </div>
    <div class="input-group" style="display: none">
        <select id="id_market" class="form-control"></select>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text placeholder">取引種類</div>
                </div>
                <select id="id_trade_type" class="form-control">
                    <option selected disabled>現物</option>
                </select>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text placeholder">取引通貨</div>
                </div>
                <select id="id_pair" class="form-control"></select>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text placeholder">特殊注文</div>
                </div>
                <select id="id_special_order" class="form-control"></select>
            </div>  
        </div>
    </div>

    <hr>
    <!-- 1ページ目 -->
        <div id="slider_contents">
            <div class="tabcontent-child">
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-12">
                        <span class="badge badge-info">新規注文</span>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-12">
                        <div class="btn-group d-flex" role="group">
                            <button id="buy_button_1" type="button" class="btn w-100 btn-base">買い</button>
                            <button id="sell_button_1" type="button" class="btn w-100 btn-base">売り</button>
                        </div>
                    </div>
                </div>
                            
                <div class="input-group" style="display: none">
                    <select id="id_side_1" class="form-control"></select>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text placeholder">注文方法</div>
                            </div>
                            <select id="id_order_type_1" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <!-- <br class="show_if_stop_order_1"> -->
                <hr class="show_if_trail_1">
                <div class="row show_if_trail_1">
                    <div class="col-md-6 offset-md-3 col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div id="id_trail_placeholder_1" class="input-group-text placeholder">トレイル幅</div>
                            </div>
                            <input id="id_trail_width_1" type="number" class="form-control" min="0" step="1">              
                            <div class="input-group-append">
                                <div class="input-group-text placeholder pair">JPY</div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="show_if_stop_order_1">
                <div class="row show_if_stop_order_1">
                    <div class="col-md-6 offset-md-3 col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div id="id_stop_price_placeholder_1" class="input-group-text placeholder">逆指値価格</div>
                            </div>
                            <input id="id_price_for_stop_1" type="number" class="form-control" min="0" step="1">              
                            <div class="input-group-append">
                                <div class="input-group-text placeholder pair">JPY</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <br class="show_if_limit_order_1"> -->
                <hr class="show_if_limit_order_1">
                <div class="row show_if_limit_order_1">
                    <div class="col-md-6 offset-md-3 col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div id="id_price_placeholder_1" class="input-group-text placeholder">指値価格</div>
                            </div>
                            <input id="id_price_1" type="number" class="form-control" min="0" step="1">
                            <div class="input-group-append">
                                <div class="input-group-text placeholder pair">JPY</div>
                            </div>     
                        </div>
                    </div>
                </div>
                <hr>            
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                    <div class="input-group-text placeholder">数量</div>
                            </div>
                            <input id="id_start_amount_1" type="number" class="form-control" min="0" min="0" step="0.0001">  
                            <div class="input-group-append">
                                <div class="input-group-text placeholder unit">BTC</div>
                            </div>
    
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-12">
                        <input type="range" min="0" max="100" value="0" class="" id="myRange_1">
                        <div><span style="float:right;" id="amount_percentage_1">0%</span></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text placeholder">予想</div>
                            </div>
                            <input type="number" id="expect_price_1" class="form-control">
                            <div class="input-group-append">
                                <div class="input-group-text placeholder pair">JPY</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabcontent-child">
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-12">
                        <span class="badge badge-success">決済注文❶</span>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-12">
                        <div class="btn-group d-flex" role="group">
                            <button id="buy_button_2" type="button" class="btn w-100 btn-base">買い</button>
                            <button id="sell_button_2" type="button" class="btn w-100 btn-base">売り</button>
                        </div>
                    </div>
                </div>
                            
                <div class="input-group" style="display: none">
                    <select id="id_side_2" class="form-control"></select>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text placeholder">注文方法</div>
                            </div>
                            <select id="id_order_type_2" class="form-control"></select>
                            
                        </div>
                    </div>
                </div>
                <hr class="show_if_trail_2">
                <div class="row show_if_trail_2">
                    <div class="col-md-6 offset-md-3 col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div id="id_trail_placeholder_2" class="input-group-text placeholder">トレイル幅</div>
                            </div>
                            <input id="id_trail_width_2" type="number" class="form-control" min="0" step="1">              
                            <div class="input-group-append">
                                <div class="input-group-text placeholder pair">JPY</div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="show_if_stop_order_2">
                <div class="row show_if_stop_order_2">
                    <div class="col-md-6 offset-md-3 col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div id="id_stop_price_placeholder_2" class="input-group-text placeholder">逆指値価格</div>
                            </div>
                            <input id="id_price_for_stop_2" type="number" class="form-control" min="0" step="1">              
                            <div class="input-group-append">
                                <div class="input-group-text placeholder pair">JPY</div>
                            </div> 
                        </div>
                    </div>
                </div>
                <hr class="show_if_limit_order_2">
                <div class="row show_if_limit_order_2">
                    <div class="col-md-6 offset-md-3 col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div id="id_price_placeholder_2" class="input-group-text placeholder">指値価格</div>
                            </div>
                            <input id="id_price_2" type="number" class="form-control" min="0" step="1">
                            <div class="input-group-append">
                                <div class="input-group-text placeholder pair">JPY</div>
                            </div>
                                
                        </div>
                    </div>
                </div>
            
                <hr>            
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                    <div class="input-group-text placeholder">数量</div>
                            </div>
                            <input id="id_start_amount_2" type="number" class="form-control" min="0" step="0.0001">  
                            <div class="input-group-append">
                                <div class="input-group-text placeholder unit">BTC</div>
                            </div>
                        
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-12">
                        <input type="range" min="0" max="100" value="0" class="" id="myRange_2">
                        <div><span style="float:right;" id="amount_percentage_2">0%</span></div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text placeholder">予想</div>
                            </div>
                            <input type="number" id="expect_price_2" class="form-control" min="0" step="0.0001">
                            <div class="input-group-append">
                                <div class="input-group-text placeholder pair">JPY</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabcontent-child">
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-12">
                        <span class="badge badge-primary">決済注文❷</span>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-12">
                        <div class="btn-group d-flex" role="group">
                            <button id="buy_button_3" type="button" class="btn w-100 btn-base">買い</button>
                            <button id="sell_button_3" type="button" class="btn w-100 btn-base">売り</button>
                        </div>
                    </div>
                </div>
                            
                <div class="input-group" style="display: none">
                    <select id="id_side_3" class="form-control"></select>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text placeholder">注文方法</div>
                            </div>
                            <select id="id_order_type_3" class="form-control"></select>
                        
                        </div>
                    </div>
                </div>
                <hr class="show_if_trail_3">
                <div class="row show_if_trail_3">
                    <div class="col-md-6 offset-md-3 col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div id="id_trail_placeholder_3" class="input-group-text placeholder">トレイル幅</div>
                            </div>
                            <input id="id_trail_width_3" type="number" class="form-control" min="0" step="1">              
                            <div class="input-group-append">
                                <div class="input-group-text placeholder pair">JPY</div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="show_if_stop_order_3">
                <div class="row show_if_stop_order_3">
                    <div class="col-md-6 offset-md-3 col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div id="id_stop_price_placeholder_3" class="input-group-text placeholder">逆指値価格</div>
                            </div>
                            <input id="id_price_for_stop_3" type="number" class="form-control" min="0" step="1">              
                            <div class="input-group-append">
                                <div class="input-group-text placeholder pair">JPY</div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="show_if_limit_order_3">
                <div class="row show_if_limit_order_3">
                    <div class="col-md-6 offset-md-3 col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div id="id_price_placeholder_3" class="input-group-text placeholder">指値価格</div>
                            </div>
                            <input id="id_price_3" type="number" class="form-control" min="0" step="1">
                            <div class="input-group-append">
                                <div class="input-group-text placeholder pair">JPY</div>
                            </div>    
                        </div>
                    </div>
                </div>
            
                <hr>            
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                    <div class="input-group-text placeholder">数量</div>
                            </div>
                            <input id="id_start_amount_3" type="number" class="form-control" min="0" step="0.0001">  
                            <div class="input-group-append">
                                <div class="input-group-text placeholder unit">BTC</div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-12">
                        <input type="range" min="0" max="100" value="0" class="" id="myRange_3">
                        <div><span style="float:right;" id="amount_percentage_3">0%</span></div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text placeholder">予想</div>
                            </div>
                            <input type="number" id="expect_price_3" class="form-control" min="0" step="0.0001">
                            <div class="input-group-append">
                                <div class="input-group-text placeholder pair">JPY</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        <div id="id_dots_area" class="col-md-6 offset-md-3 col-12">
            
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12">
            <div id="id_order_result_message" class="alert">
            </div>
        </div>
    </div> 

    <div class="row">
        <div class="col-md-6 offset-md-3 col-12">
            <div class="input-group">
                <button id="id_order_button" type="button" class="btn btn-lg btn-block green_button">注文</button>
            </div>  
        </div>
    </div>
</div>
<div id="active_orders" class="tabcontent">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text placeholder">取引所</div>
                </div>
                <select id="id_active_orders_search_market" class="form-control"></select>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text placeholder">検索通貨</div>
                </div>
                <select id="id_active_orders_search_pair" class="form-control"></select>
            </div>
        </div>
    </div>
    <hr>
    <div id="active_orders_content"></div>
    <div class="row">
        <div id="page_selection_active_orders" class="col-md-6 offset-md-3 col-12">

        </div>
    </div>
</div>  
<div id="order_history" class="tabcontent">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text placeholder">取引所</div>
                </div>
                <select id="id_order_history_search_market" class="form-control"></select>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text placeholder">検索通貨</div>
                </div>
                <select id="id_order_history_search_pair" class="form-control"></select>
            </div>
        </div>
    </div>
    <hr>
    <div id="order_history_content"></div>
    <div class="row">
        <div id="page_selection_order_history" class="col-md-6 offset-md-3 col-12">

        </div>
    </div>

</div>
<div id="assets" class="tabcontent">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xs12">
            <div class="table-responsive">
                <table id="asset_table" class="table table-sm table-dark">
                    <tr><th>合計評価額</th><td align="right" id="total_in_jpy"></td></tr>
                    <tr><th>日本円</th><td align="right" id="jpy"></td></tr>
                    <tr><th>ビットコイン</th><td align="right" id="btc"></td></tr>
                    <tr><th>リップル</th><td align="right" id="xrp"></td></tr>
                    <tr><th>ライトコイン</th><td align="right" id="ltc"></td></tr>
                    <tr><th>イーサリアム</th><td align="right" id="eth"></td></tr>
                    <tr><th>モナーコイン</th><td align="right" id="mona"></td></tr>
                    <tr><th>ビットコインキャッシュ</th><td align="right" id="bcc"></td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="alerts" class="tabcontent">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12">
            <label class="control-label">約定通知</label>
            <div class="btn-group d-flex" role="group">
                <button id="notify_if_filled_off_button" type="button" class="btn w-100 btn-base">OFF</button>
                <button id="notify_if_filled_on_button" type="button" class="btn w-100 btn-base">ON</button>      
            </div>
        </div>  
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12">
            <label class="control-label">アラートメール通知</label>
            <div class="btn-group d-flex" role="group">
                <button id="id_use_alert_off_button" type="button" class="btn w-100 btn-base">OFF</button>
                <button id="id_use_alert_on_button" type="button" class="btn w-100 btn-base">ON</button>      
            </div>
        </div>  
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text placeholder">取引所</div>
                </div>
                <select id="id_alerts_market" class="form-control"></select>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text placeholder">検索通貨</div>
                </div>
                <select id="id_alerts_pair" class="form-control"></select>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="input-group">
                
                <div class="input-group-prepend">
                    <div class="input-group-text placeholder">通知レート</div>
                </div>
                <input type="number" id="id_notice_rate" class="form-control" min="0">
                <div class="input-group-append">
                    <div class="input-group-text placeholder pair_for_alert">JPY</div>
                </div>
                <div class="input-group-append">
                    <button id="add_alert_button" class="btn green_button" type="button">追加</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    
    <div id="alert_container">
        
    </div> 
    <div class="row">
        <div id="page_selection_alerts" class="col-md-6 offset-md-3 col-12">

        </div>
    </div>
</div>
<div id="user_info" class="tabcontent">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12">
            <div class="table-responsive">
                <table class="table table-dark">
                    <tbody>
                        <tr>
                            <th>登録日</th>
                            <td id="id_date_joined"></td>
                        </tr>
                        <tr>
                            <th>名前</th>
                            <td><input id="id_full_name" type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>登録メールアドレス</th>
                            <td id="id_email" ></td>
                        </tr>

                        <tr>
                            <th>API KEY</th>
                            <td><input id="id_api_key" type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>API SECRET KEY</th>
                            <td><input id="id_api_secret_key" type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>通知用メールアドレス</th>
                            <td><input id="id_email_for_notice" type="email" class="form-control"></td>
                        </tr>
                    </tbody>
                </table> 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12">
            パスワード変更は<a href="{% url 'bitbank:password_change' %}">こちら</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-2 offset-md-3 col-6">
            <button id="id_update_user_info_button" type="button" class="btn btn-block green_button">更新</button>
            
        </div>
        <div class="col-md-2 col-6">
            <a href="{% url 'bitbank:logout'%}" class="btn btn-block red_button">ログアウト</a>
        </div>
    </div>
</div>  
<div id="contact" class="tabcontent">

  <div class="row">
    <div class="col-md-6 offset-md-3 col-12">
        <div class="table-responsive">
            <table class="table table-dark">
                <tbody>
                    <tr>
                        <th>問い合せ日時</th>
                        <td id="id_contact_date"></td>
                    </tr>
                    <tr>
                        <th>名前</th>
                        <td><input id="id_contact_name" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>メールアドレス</th>
                        <td><input id="id_contact_email" type="text" class="form-control"></td>
                    </tr>

                    <tr>
                        <th>件名</th>
                        <td><input id="id_contact_subject" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>内容</th>
                        <td><textarea id="id_contact_body" class="form-control"></textarea></td>
                    </tr>
                    <tr>
                        <th>添付ファイル<br>(3つまで)</th>
                        <td>
                            <form name="file_upload">
                                <label for="fileupload">
                                    <span class="btn btn-primary">ファイルを選択</span>
                                    
                                </label>
                                <input id="fileupload" type="file" name="attachment" multiple style="display:none;"
                                            data-url="{% url 'bitbank:ajax_attachment' %}"
                                            data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
    
                                
                            </form>    
                        </td>
                    </tr>
                </tbody>
            </table> 
        </div>
    </div>
</div>

<div class="row">
    <div id="id_attachment_preview" style="display: inline" class="col-md-6 offset-md-3 col-12">
        <!-- <div class="container" id="id_attachment_preview"></div> -->
    </div>
</div> 

<div class="row">
    <div class="col-md-6 offset-md-3 col-12">
        <div id="id_contact_message" class="alert"></div>
    </div>
</div> 
<div class="row">
    <div class="col-md-2 offset-md-3 col-6">
        <button id="id_contact_send_inquiry_button" type="button" class="btn btn-block green_button">送信</button>
    </div>
</div>
</div>

{% endblock %}
{% block extra_js %}

    <script>
        BASE_URL_LOGIN = "{% url 'bitbank:login' %}";
        BASE_URL_ASSETS = '{% url "bitbank:ajax_assets" %}';
        BASE_URL_TICKER = '{% url "bitbank:ajax_ticker" %}';
        BASE_URL_USER = '{% url "bitbank:ajax_user" %}';
        BASE_URL_ORDERS = '{% url "bitbank:ajax_orders" %}';
        BASE_URL_ALERTS = '{% url "bitbank:ajax_alerts" %}';
        BASE_URL_ATTACHMENTS = '{% url "bitbank:ajax_attachment" %}';
        BASE_URL_INQUIRY = '{% url "bitbank:ajax_inquiry" %}';
        
        


        COUNT_PER_PAGE = 10;
        COOKIE_ORDER_PAIR = "ck_order_pair";
        COOKIE_SPECIAL_ORDER = "ck_special_order";
        COOKIE_ALERT_PAIR = "ck_alert_pair";
        COOKIE_SEARCH_PAIR_ALERTS = "ck_search_pair_alerts";
        COOKIE_SEARCH_PAIR_ACTIVE_ORDERS = "ck_search_pair_ao";
        COOKIE_SEARCH_PAIR_ORDER_HISTORY = "ck_search_pair_oh";
        COOKIE_LAST_VISITED_TAB = "ck_last_visited_tab";
        

        MARKETS = {
            "bitbank": "bitbank",
            "coincheck": "coincheck"
        }
        
        PAIRS = {
            'btc_jpy': 'BTC/JPY',
            'xrp_jpy': 'XRP/JPY',
            'ltc_btc': 'LTC/BTC',
            'eth_btc': 'ETH/BTC',
            'mona_jpy': 'MONA/JPY',
            'mona_btc': 'MONA/BTC',
            'bcc_jpy': 'BCC/JPY',
            'bcc_btc': 'BCC/BTC'
        }

        STATUS = {
            'UNFILLED': '未約定',
            'PARTIALLY_FILLED': '一部約定済',
            'FULLY_FILLED': '約定済',
            'CANCELED_UNFILLED': 'キャンセル済',
            'CANCELED_PARTIALLY_FILLED': '一部キャンセル済',
            'READY_TO_ORDER': '未注文',
            'FAILED_TO_ORDER': '注文失敗',
            'WAIT_OTHER_ORDER_TO_FILL': '他注文約定待'
        }
        SPECIAL_ORDERS = {
            'SINGLE': 'SINGLE',
            'IFD': 'IFD',
            'OCO': 'OCO',
            'IFDOCO': 'IFDOCO'  
        };
        
        ORDER_SEQ = {
            'order_1': '新規注文',
            'order_2': '決済注文1',
            'order_3': '決済注文2'
        }
        ORDER_TYPES = {
            'market': '成行',
            'limit': '指値',
            'stop_market': '逆指値',
            'stop_limit': 'ストップリミット',
            'trail': 'トレイル'
        };

        SELL_BUY = {
            'sell': '売',
            'buy' : '買'
        }
        

        //資産情報取得用

        $(function() {
            initialize_order_tab(true);
            initialize_active_orders_tab(true);
            initialize_order_history_tab(true);
            initialize_alerts_tab(true);
            initialize_asset_tab(true);
            initialize_user_info_tab(true);
            initialize_contact_tab(true);
            $('#order_button').click();
        });
        
    </script>
{% endblock %}
