{% extends "bitbank/base.html" %}
{% block content %}
{% load static %}
{% csrf_token %}
<style>
    .modal-content {
        background-color: var(--theme-dark)
    }
    .modal-content button {
        background: var(--theme-light);
        color: white;
    }
    .success-icon {
        display: inline-block;
        width: 30px;
        height:30px;
        border-radius: 50%;
        background-color: green;
        text-align: center;
        padding-top: 3px;
    }
    .alert-icon {
        display: inline-block;
        width: 30px;
        height:30px;
        border-radius: 50%;
        background-color: red;
        text-align: center;
        padding-top: 3px;
    }
</style>
<div class="row">
    <div class="col-md-7 offset-md-3 col-12">
        <div class="tab btn-group">
            <button id="order_button" type="button" class="tablinks" onclick="openTab(event, 'order')">注文する</button>
            <button id="active_orders_button" type="button" class="tablinks" onclick="openTab(event, 'active_orders')">発注一覧</button>
            <button id="order_history_button" type="button" class="tablinks" onclick="openTab(event, 'order_history')">取引履歴</button>
            <button id="alerts_button" type="button" class="tablinks" onclick="openTab(event, 'alerts')">通知設定</button>
            <button id="assets_button" type="button" class="tablinks" onclick="openTab(event, 'assets')">保有資産</button>
            <button id="user_info_button" type="button" class="tablinks" onclick="openTab(event, 'user_info')">個人情報</button>
            <button id="contact_button" type="button" class="tablinks" onclick="openTab(event, 'contact')">問い合せ</button>
        </div>
    </div>
</div>
   
{% include 'bitbank/orderpagetabs/order-tab.html' %}
{% include 'bitbank/orderpagetabs/active-order-tab.html' %}
{% include 'bitbank/orderpagetabs/order-history-tab.html' %}
{% include 'bitbank/orderpagetabs/asset-tab.html' %}
{% include 'bitbank/orderpagetabs/alert-tab.html' %}
{% include 'bitbank/orderpagetabs/userinfo-tab.html' %}
{% include 'bitbank/orderpagetabs/contact-tab.html' %}

<div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <div class="success-icon">
                <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <div class="alert-icon">
                <i class="fa fa-exclamation" aria-hidden="true"></i>
            </div>    
            <span id="message"></span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}

{% block extra_js %}

    <script src="{% static 'js/custom/utils.js' %}"></script>
    <script src="{% static 'js/custom/order-tab.js' %}"></script>
    <script src="{% static 'js/custom/active-order-tab.js' %}"></script>
    <script src="{% static 'js/custom/order-history-tab.js' %}"></script>
    <script src="{% static 'js/custom/alert-tab.js' %}"></script>
    <script src="{% static 'js/custom/asset-tab.js' %}"></script>
    <script src="{% static 'js/custom/userinfo-tab.js' %}"></script>
    <script src="{% static 'js/custom/contact-tab.js' %}"></script>
    
    <script src="{% static 'js/custom/main.js' %}"></script>

    
    <script>
        
        BASE_URL_LOGIN = "{% url 'bitbank:login' %}";
        BASE_URL_ASSETS = '{% url "bitbank:ajax_assets" %}';
        BASE_URL_TICKER = '{% url "bitbank:ajax_ticker" %}';
        BASE_URL_USER = '{% url "bitbank:ajax_user" %}';
        BASE_URL_NOTIFY_IF_FILLED = '{% url "bitbank:ajax_notify_if_filled" %}';
        BASE_URL_USE_ALERT = '{% url "bitbank:ajax_use_alert" %}';
        BASE_URL_ORDERS = '{% url "bitbank:ajax_orders" %}';
        BASE_URL_RELATIONS = '{% url "bitbank:ajax_relations" %}';
        BASE_URL_ALERTS = '{% url "bitbank:ajax_alerts" %}';
        BASE_URL_ATTACHMENTS = '{% url "bitbank:ajax_attachment" %}';
        BASE_URL_INQUIRY = '{% url "bitbank:ajax_inquiry" %}';

                
    </script>
{% endblock %}
