{% extends "bitbank/base.html" %}
{% block content %}
<form action="" method="POST">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12">
            <div class="card red-border">
                <div class="card-body">
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        {% if field.name == 'notify_if_filled' %}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                        <div style="font-weight: bold" class="input-group-text placeholder">約定通知</div>
                                        {{ form.notify_if_filled }}
                                </div>
                            </div>  
                            
                        {% else %}
                            {{ field }}
                            {{ field.errors }}
                        {% endif %}
                        <hr>
                    {% endfor %}
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-block green_button float-right">登録</button>
                        </div>
                        <div class="col-6">
                            <a href="{% url 'bitbank:login' %}" class="btn btn-block red_button">戻る</a>
                        </div>
                    </div>
                    
                </div>
            </div>             
        </div>
    </div>
</form>
{% endblock %}
