@media (min-width: 1100px) {
    /*code for destop*/
}
@media (max-width: 1100px) {
/*code for ipad and netbooks*/
}
@media (max-width: 480px) {
/*code for mobile here*/
}

html {
    overflow-y: scroll;
}

table.table {
    /* font-size: 3vmin; */
    font-weight: normal !important;
}
table.table thead tr th {
    text-align: center;
}
body {
    color: white;
    background: #222222;
    /* background: white; */
}

/* label.control-label {
    font-size: 2vmin;
} */
.form-control {
    color: white;
    background-color : #333333;
    border: none;
    border-radius : 0;
    display: inline;
}
input[type="text"][disabled]{
    background:#333333 !important;
    cursor:not-allowed; /* 禁止カーソル */
}

div.input-group-prepend, div.input-group-append {
    color: white;
    background-color : #333333;
    border: none;
    border-radius: 0;
}

select.input-group-append {
    background-color: #333333;
    color: gray;
    border-style: solid;
    border-radius: 0;
}

select {
    direction: rtl;
    /* text-align-last:right; */
    background-image: url('../images/select_arrow.png');
    background-position: 98% 50%;
    background-size: 1em 1em;
    background-repeat: no-repeat;
    -moz-appearance: none;  
	-webkit-appearance: none; 
    appearance: none;
    padding-right: 3em !important;
}
select.form-control option {
    background: #333333 !important;
}
select#id_pair_for_alert {
    text-align-last: center;
    padding-right: 0.5em !important;
    padding-left: 0.5em !important; 
}
select#id_market_for_alert {
    text-align-last: center;
    padding-right: 0.5em !important;
    padding-left: 0.5em !important; 
}


.btn {
    color: white;
    border-radius: 0;
}


button.btn-base {
    background: #333333;
    color: gray;
}

input[type="number"]{
    text-align: right;
}

div.card {
    background: #222222;
    width: 100%;
} 

div.card.red-border {
    border: solid 3px #FF6600;
}

div.order_header {
    background: #333333 !important;
    margin: 0.1rem;
    padding: 0.3rem 1.5rem   
}
div.order_body {
    background: #333333 !important;
    margin: 0.19rem 0.1rem 0.1rem 0.1rem;
    padding: 0.3rem 1.5rem   

}
div.order_history_body {
    background: #333333 !important;
    
    margin: 0.1rem;
    padding: 0.3rem 1.5rem   

}

div.order_container {
    font-size: 0.8em;
    padding: 0.15rem;
    background: gray;
}

div.card-table-header {
    text-align: left;
    padding: 0.3rem 0.3rem;
    
} 
div.card-table-data {
    text-align: right;
    padding: 0.3rem 0.3rem;
} 

.form-control:focus{
    background-color :#333333;
    color: white;
}

select.form-control.onlyone {
    color: gray;
}

div.input-group-text.placeholder {
    color: gray;
    /* font-size: 2vmin; */
    background: #333333;
    border:none;
}
div.input-group-text.placeholder.invisible {
    color: #333333;
}


button.buy {
    background: teal;
}

button.sell {
    background: orangered;
}
button.on {
    background: orangered;
}

button.off {
    background: teal;
}


.green_button {
    background-color: teal;
    /* font-size: 2vmin; */
}

.red_button {
    background-color: orangered;
    /* font-size: 2vmin; */
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #222222;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button.tablinks {
    background-color: inherit;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1.5em 0.2em;
    transition: 0.3s;

  }

  .tab button.tablinks.active {
      background:  #333333;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #333333;
  }
  
  /* Create an active/current tablink class */

  /* Style the tab content */
  .tabcontent {
    display: none;
    border-top: none;
  }
  .tabcontent-child {
    display: none;
    border-top: none;
  }
  

  div > ul.pagination > li.page-item > a.page-link{
    background: #333333 !important;
    color: white !important;
    border: 1px solid #222222 !important;
  }
  div > ul.pagination > li.page-item.active > a.page-link{
    background: #444444 !important;
  }

.form-control::-webkit-input-placeholder { color: #BBBBBB; font-weight: bold}  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #BBBBBB; font-weight: bold}  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #BBBBBB; font-weight: bold}  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #BBBBBB; font-weight: bold}  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #BBBBBB; font-weight: bold}  /* Microso */

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;   
    /* background: #d3d3d3; */
    outline: none;
    opacity: 0.7;
    -webkit-transition: .8s;
    transition: opacity .8s;
    border: none;
}

/* Mouse-over effects */
input[type="range"]:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider_for_buy::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: teal;
    cursor: pointer;
}

.slider_for_buy::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    background: teal;
}
.slider_for_sell::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: orangered;
    cursor: pointer;
}

.slider_for_sell::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    background: orangered;
}

  div.attachment_preview:hover .img-thumbnail {
    opacity: 0.4;
  }
  div.attachment_preview:hover .text {
    opacity: 1;
  }

.text {
    font-size: 3rem;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .img-thumbnail {
    background-color: gray !important;
    border: 1rem gray;
    border-radius: 0 !important;
}
