<style>
    #add_alert_button {
        float: right;
        margin-top: 0.5rem;
        position: relative;
    }
    #add_alert_button:enabled .loader {
        display: none;
    }
    .spinner {
       display: inline-block;
       top: 2px;
   }
  
   .overlay {
       opacity: 0.6;
       background-color: black;
       position: absolute;
       width: 100%;
        top: 0;
        left: 0;
       height: 100%;
   }
</style>

<div id="alerts" class="tabcontent">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12">
            <label class="control-label">約定通知</label>
            <div class="btn-group d-flex" role="group">
                <button id="notify_if_filled_off_button" type="button" class="btn w-100 btn-base">OFF</button>
                <button id="notify_if_filled_on_button" type="button" class="btn w-100 btn-base">ON</button>      
            </div>
        </div>  
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12">
            <label class="control-label">アラートメール通知</label>
            <div class="btn-group d-flex" role="group">
                <button id="id_use_alert_off_button" type="button" class="btn w-100 btn-base">OFF</button>
                <button id="id_use_alert_on_button" type="button" class="btn w-100 btn-base">ON</button>      
            </div>
        </div>  
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12">
            <label class="control-label">内容設定</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text placeholder">取引所</div>
                </div>
                <select id="id_alerts_market" class="form-control"></select>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <select class="form-control" id="id_alerts_pair" style="padding-right: 1.5em !important;padding-left:0.5em!important;">
                    </select>
                </div>
                <input type="text" type2="number" id="id_notice_rate" placeholdder="レート" class="form-control" min="0">
                <div class="input-group-append">
                    <div class="input-group-text placeholder pair_for_alert">JPY</div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text placeholder">コメント</div>
                </div>
                <input type="text" id="id_alerts_comment" placeholdder="コメント" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <button id="add_alert_button" class="btn green_button" type="button">
            追加
            <div class="loader spinner ld ld-ring ld-spin"></div>
            <div class="loader overlay">
            </div>
            </button>        
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12">
            <label class="control-label">検索設定</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text placeholder">検索取引所</div>
                </div>
                <select id="id_alerts_search_market" class="form-control"></select>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text placeholder">検索通貨</div>
                </div>
                <select id="id_alerts_search_pair" class="form-control"></select>
            </div>
        </div>
    </div>
    <hr>

    <div id="alert_container">
        
    </div> 
    <div class="row">
        <div id="page_selection_alerts" class="col-md-6 offset-md-3 col-12">

        </div>
    </div>
</div>

