<div id="assets" class="tabcontent">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xs12">
            <div class="table-responsive">
                <table id="asset_table_bb" class="table table-sm table-dark">
                    <caption style="caption-side: top;color:white;font-weight: bold">bitbank</caption>
                    <tr><th>合計評価額</th><td align="right" id="total_in_jpy_bb"></td></tr>
                    <tr><th>日本円</th><td align="right" id="jpy_bb"></td></tr>
                    <tr><th>ビットコイン</th><td align="right" id="btc_bb"></td></tr>
                    <tr><th>リップル</th><td align="right" id="xrp_bb"></td></tr>
                    <tr><th>ライトコイン</th><td align="right" id="ltc_bb"></td></tr>
                    <tr><th>イーサリアム</th><td align="right" id="eth_bb"></td></tr>
                    <tr><th>モナーコイン</th><td align="right" id="mona_bb"></td></tr>
                    <tr><th>ビットコインキャッシュ</th><td align="right" id="bcc_bb"></td></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xs12">
            <div class="table-responsive">
                <table id="asset_table_cc" class="table table-sm table-dark">
                    <caption style="caption-side: top;color:white;font-weight: bold">coincheck</caption>
                    <tr><th>日本円</th><td align="right" id="jpy_cc"></td></tr>
                    <tr><th>ビットコイン</th><td align="right" id="btc_cc"></td></tr>
                    <tr><th>リップル</th><td align="right" id="xrp_cc"></td></tr>
                    <tr><th>ライトコイン</th><td align="right" id="ltc_cc"></td></tr>
                    <tr><th>イーサリアム</th><td align="right" id="eth_cc"></td></tr>
                    <tr><th>ビットコインキャッシュ</th><td align="right" id="bcc_cc"></td></tr>
                    <tr><th>リスク</th><td align="right" id="lsk_cc"></td></tr>
                    <tr><th>ファクトム</th><td align="right" id="fct_cc"></td></tr>
                    <tr><th>ネムコイン</th><td align="right" id="xem_cc"></td></tr>
                    
                </table>
            </div>
        </div>
    </div>
</div>
