 
 <style>
     .attachment_preview {
        width : 30%;
        height : auto;
        float : left; 
        position : relative
     }

    #id_file_upload_button:enabled .loader {
        display: none!important;
    }
    .spinner {
        display: inline-block;
        top: 2px;
    }
    #id_file_upload_button {
        position: relative;
    }
    .overlay {
        opacity: 0.6;
        background-color: black;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;

    }
    
 </style>
 <div id="contact" class="tabcontent">

  <div class="row">
    <div class="col-md-6 offset-md-3 col-12">
        <div class="table-responsive">
            <table class="table table-dark">
                <tbody>
                    <tr>
                        <th>問い合せ日時</th>
                        <td id="id_contact_date"></td>
                    </tr>
                    <tr>
                        <th>名前</th>
                        <td><input id="id_contact_name" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>メールアドレス</th>
                        <td><input id="id_contact_email" type="text" class="form-control"></td>
                    </tr>

                    <tr>
                        <th>件名</th>
                        <td><input id="id_contact_subject" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>内容</th>
                        <td><textarea id="id_contact_body" class="form-control"></textarea></td>
                    </tr>
                    <tr>
                        <th>添付ファイル<br>(3つまで)</th>
                        <td>
                            <form name="file_upload">
                                <!-- <label for="fileupload">
                                    <span class="btn btn-primary">ファイルを選択</span>
                                    
                                </label> -->
                                <button type="button" class="btn btn-primary" id="id_file_upload_button">
                                    ファイルを添付
                                    <div class="loader spinner ld ld-ring ld-spin"></div>
                                    <div class="loader overlay">
                                    </div>
                                </button>


                                </button>
                                <input id="fileupload" type="file" name="attachment" multiple style="display:none;"
                                            data-url="{% url 'bitbank:ajax_attachment' %}"
                                            data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
    
                                
                            </form>    
                        </td>
                    </tr>
                </tbody>
            </table> 
        </div>
    </div>
</div>

<div class="row">
    <div id="id_attachment_preview" style="display: inline" class="col-md-6 offset-md-3 col-12">
        <!-- <div class="container" id="id_attachment_preview"></div> -->
    </div>
</div> 

<div class="row">
    <div class="col-md-6 offset-md-3 col-12">
        <div id="id_contact_message" class="alert"></div>
    </div>
</div> 
<div class="row">
    <div class="col-md-2 offset-md-3 col-6">
        <button id="id_contact_send_inquiry_button" type="button" class="btn btn-block green_button">
            送信
           
        </button>
    </div>
</div>
</div>
