<div id="order_history" class="tabcontent">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text placeholder">取引所</div>
                </div>
                <select id="id_order_history_search_market" class="form-control"></select>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text placeholder">検索通貨</div>
                </div>
                <select id="id_order_history_search_pair" class="form-control"></select>
            </div>
        </div>
    </div>
    <hr>
    <div id="order_history_content"></div>
    <div class="row">
        <div id="page_selection_order_history" class="col-md-6 offset-md-3 col-12">

        </div>
    </div>

</div>
